<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant catalogue for you" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>RESTAURANT FINDER</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/restaurant">Home</a></li>
          <li><a href="#/favorites">Favorite</a></li>
          <li><a target="blank" href="https://www.linkedin.com/in/resti-karunia-mukti-511b5521a/">About Us</a></li>
        </ul>
      </nav>
    </header>
  </div>
    <main id="mainContent" tabindex="0"></main>
    
    <footer class="footer">
      <p>Copyrihgt &#169; 2022 - Hunger Apps BY RESTI KARUNIA MUKTI</p>
    </footer>
  </body>
  </html>
